/*****************文章显示公共部分******************/
.article {
    margin-bottom: 50px;
    background: #FFFFFF;
    /*box-shadow: 2px 4px 4px #999;*/
    border-radius: 4px;

}

.article_title {
    padding: 10px 0 20px;
    text-align: center;
}

.article_title a {
    font-weight: 300;
    margin: 0 auto;
    color: #444;
}

.article_date {
    text-align: center;
    margin: -20px auto 10px;
    height: 20px;
    font: 300 14px/20px "Microsoft YaHei";
    color: #555;
}
.article_date span{
    margin: 0 5px ;
}

.article_content {
    background-color: #f9f9f9;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 20px;
    margin: 10px 0;
}

.article_content img {
    max-width: 100%;
}

