/*****************文章显示公共部分******************/
.article {
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px #999;
    border-radius: 4px;
}
.article_title {
    display: block;
    padding: 10px 0 20px;
    text-align: center;
}
.article_title a {
    display: block;
    font-weight: 300;
    margin: 0 auto;
    color: #444;
}
.article_date {
    text-align: center;
    margin: -20px auto 20px;
    height: 20px;
    font: 300 14px/20px "Microsoft YaHei";
    color: #555;
}

.article_condent {
    padding: 0 20px 20px;
}
