/**************正文部分********************/

#content {
    height: 100%;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.7);
    /*background-image: url("/bloglt-static-file/body-img/body_img06.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center top;*/
    /*background-attachment: fixed;*/
}

#body {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

}

.article_more {
    display: block;
    position: relative;
    float: right;
    height: 20px;
    right: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
    font: 300 14px/22px "Microsoft YaHei";
    /*background: #00a65a;*/
    background: #1d92c9;
    color: #FFFFFF;
    border-radius: 4px;
}

.article_more:hover {
    /*background: #00a67b;*/
    background: #021c53;
}

.default-content {
    width: 100%;
    margin: 0 auto;
}

.load-more {
    text-align: center;
    display: block;
    height: 20px;
    width: 60%;
    margin: -20px auto 200px;
    padding: 4px 10px;
    font: 300 14px/20px "Microsoft YaHei";
    /*background: #5cb85c;*/
    background: #1d92c9;
    color: #FFFFFF;
    border-radius: 4px;
}

.load-more:hover {
    /*background-color: #444;*/
    background-color: #021c53;
}

/*自适应CSS文章部分*/
@media screen and (max-device-width: 770px) {
    #body {
        width: 100%;
    }
}

@media screen and (max-device-width: 420px) {
    #body {
        padding-top: 0;
    }
}
