/*主题背景*/
body {
    background-color: #e3e3e3;
}

#content {
    width: 100%;
    /*background-image: url("/bloglt-static-file/body-img/body_img04.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    padding-top: 20px;
    padding-bottom: 100px;
}

/*头部搜索*/
.search {
    position: relative;
    height: 40px;
    width: auto;
    float: left;
}

.search_box {
    background-color: #AAA;
    height: 30px;
    width: 180px;
    margin-top: 5px;
    float: left;
    border-radius: 15px;
}

.search_input {
    float: left;
    width: 140px;
    height: 30px;
    background-color: transparent;
    margin-left: 10px;
}

.search_button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.search_tags {
    letter-spacing: 4px;
    cursor: pointer;
    background-color: #1d92c9;
    color: #FFFFFF;
    height: 40px;
    width: 120px;
    float: left;
    margin-left: 20px;
    font: 300 16px/40px "microsoft yahei";
    text-align: center;
}
.tags {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    letter-spacing: 4px;
    color: #FFFFFF;
    width: 120px;

}

.tags li {
    cursor: pointer;
    display: block;
    height: 40px;
    width: 120px;
    background-color: #1d92c9;
    font: 300 16px/40px "microsoft yahei";
    text-align: center;
}

.tags li:hover {
    background-color: #021c53;
}

/*重写头部透明度*/
/*.head_content {*/
/*height: 40px;*/
/*width: 100%;*/
/*background-color: rgba(33, 33, 33, 0.8);*/
/*margin: 0 auto;*/
/*}*/
/*分页样式*/
.pages_container {
    text-align: center;
    margin: 0 auto;
}

.pages {
    display: inline-block;
    margin: 0 auto;
}

.pages li {
    display: block;
    float: left;
}

.pages a {
    background-color: #FFFFFF;
    display: block;
    padding: 10px 15px;
    margin-left: 10px;
    border: solid #999 1px;
    border-radius: 4px;
    cursor: pointer;
}

.pages a:hover {
    color: #555;
    border-color: #555;
}

.active a {
    background-color: #555;
    color: #FFFFFF;
    border: none;
    cursor: default;
}

.active a:hover {
    color: #FFF;
}

/*分页显示的内容的样式*/
.search_condition {
    letter-spacing: 4px;
    background-color: #FFF;
    padding: 10px 0 10px 20px;
    height: 40px;
    color: #1d92c9;
    font: 500 20px/40px "Microsoft YaHei";
    border-left: 6px solid #1d92c9;
    border-radius: 4px;
}

.page_content {
    width: 90%;
    margin: 20px auto;
}

.pages_article {
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 20px 0 10px;
    border-radius: 4px;
}

.pages_article_title {
    display: block;
    padding-left: 10px;
    border-left: 4px solid #1d92c9;
    transition: border-left 0.5s ease;
    font-weight: 500;
    margin-bottom: 20px;
}

.pages_article_title:hover {
    border-left: 12px solid #1d92c9;
}

.pages_article_title a {
    color: #444;
    transition: color 0.5s ease;
}

.pages_article_title a:hover {
    color: #1d92c9;
}

.pages_article_content {
    color: #555;
    background-color: #f9f9f9;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px;
}

.pages_article_date {
    color: #555555;
    font-size: 12px;
    margin: 5px auto;
}

.pages_article_date span {
    margin: 0 10px;
}

/*分页界面的自适应*/
@media screen and (max-device-width: 420px) {
    .page_content {
        width: 100%;
    }
.head_content{
    height: 80px;
}
.head_content_nav{
    top:-40px;
}
.search{
    top:40px;
    width: 100%;
}
.search_tags{
    float: right;
}
.tags{
    width: 100%;
}
.tags li{
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

}