/********************重置样式表，全局设置***********************/
#body:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* Hides from IE-mac \*/

* html .clearfix {
	height: 1%;
}


/* End hide from IE-mac */


/*以下是重置样式表*/

* {
	
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000000;
}

body {
	background: #DDDDDD;
}
