<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        #if($article)
            $article.articleTitle
        #else
            文章
        #end
    </title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/bloglt-static-file/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/bloglt-static-file/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/bloglt-static-file/css/default.css"/>


    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    #if($article)
        <link rel="stylesheet" type="text/css" href="/bloglt-static-file/css/common-article.css"/>
        <link rel="stylesheet" type="text/css" href="/bloglt-static-file/css/article.css"/>
        <link rel="stylesheet" type="text/css" href="/bloglt-static-file/css/comments.css"/>
        <script src="/bloglt-static-file/js/highlight.pack.js"></script>
    #else
        <link rel="stylesheet" type="text/css" href="/bloglt-static-file/css/page.css"/>
        <script src="/bloglt-static-file/js/jqPaginator.min.js"></script>
    #end


</head>
<body>
<div class="head">
    <div class="head_content">
        #if(!$article)
            <div class="search">
                <div class="search_box">
                    <input type="text" class="search_input" value="">
                    <button class="search_button fa fa-search" onclick="reload()"></button>
                </div>
                <div class="search_tags" ">文章分类
                </div>
                <ul class="tags">
                    <li value="1" onclick="reloadByTag(this.value)">全部文章</li>
                    <li>日常吐槽</li>
                    <li>技术相关</li>
                </ul>
            </div>
        #end
        <ul class="head_content_nav">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                #if($article)
                    <a href="/article">文章</a>
                #else
                    <a href="javascript:void(0)" class="nav_on">文章</a>
                #end
            </li>
            <li>
                <a href="/comments">交♂流</a>
            </li>
            <li>
                <a href="/about">关于</a>
            </li>
        </ul>
    </div>
</div>
##    <div id="my-info">
##        <div class="head-img"></div>
##        <p>欢迎&nbsp&nbsp&nbsp博客大部分图片来自&nbsppixiv</p>
##    </div>
<div id="content">
##此语句成立条件：变量为布尔值时为true,非不二变量且不为null时。
    #if($article)
        <div class="article">
            <h1 class="article_title"><a href="javascript:void(0)">$article.articleTitle</a></h1>
            <div class="article_date">#if($article.articleDate)
                <span class="fa fa-calendar-o"></span>$date.format("yyyy-MM-dd",$article.articleDate) |#end
                已阅：$article.views 次
                | 评论：暂未开通
            </div>
            <div class="article_content full-data">$article.content</div>
            <div style="clear:both"></div>
        </div>
        <div class="doc_comments">
            <div class="doc_comments_wrapper">
                <div class="comments_block_title">发表评论</div>
                <div class="new_comment_form_container">
                    <form id="new_comment_form" method="post" action="/service/comment/new">
                        <input name="path" type="hidden" value="">
                        <input id="reply_to_id" name="reply" type="hidden" value="">
                        <div class="comment_trigger" style="display: none;">
                            <div class="avatar"><img src="/visitor.png">
                            </div>
                            <div class="trigger_title">撰写评论</div>
                        </div>
                        <div class="new_comment"><textarea name="content" rows="2" class="textarea_box"></textarea>
                            <span class="comment_error"></span>
                        </div>
                        <div class="comment_triggered" style="display: block;">
                            <div class="input_body">
                                <ul class="ident">
                                    <li>
                                        <input type="text" name="reply_author" placeholder="你的昵称">
                                    </li>
                                    <li>
                                        <input type="text" name="reply_email" placeholder="你的邮箱">
                                    </li>
                                    <li>
                                        <input type="text" name="reply_site" placeholder="你的网站">
                                    </li>
                                </ul>
                                <input type="submit" value="提交评论" class="comment_submit_button c_button">
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="comments"></ul>
                <script src="/bloglt-static-file/js/comments.js"></script>
            </div>
        </div>
    #else
        <div class="page_content">
        </div>
        <div class="pages_container">
            <ul class="pages">
            </ul>
        </div>
    #end
</div>
<div id="footer">
    <div class="footer-content">
        <p>Copyright © 2017 Trye 然而并没有备案</p>
    <p><a href="https://amazonaws-china.com" target="_blank"> AWS </a>部署,<a href="https://www.qiniu.com/" target="_blank"> 七牛云 </a>静态文件,博客大部分图片来自<a href="https://www.pixiv.net/" target="_blank"> pixiv</a></p>
    </div>
</div>
#if($article)
<script>hljs.initHighlightingOnLoad()</script>
#end
<script src="/bloglt-static-file/js/search_article.js"></script>
</body>
</html>