<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>test</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<style type="text/css">
			.row div {
				background: #009900;
				text-align: center;
				margin: 10px 0 10px;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-12">test1</div>
				<div class="col-xs-12 col-md-6">test2</div>
			</div>
		</div>
	</body>

</html>